# Folder for generating test Zarr files
test_files/ 

# Windows default autosave extension
*.asv

# OSX / *nix default autosave extension
*.m~

# Bytecode-compiled version of python code
PythonModule/__pycache__
*.pyc
